h1
{
    font-size: 3em;
    color: brown;
}

h2
{
    font-size: 2em;
}

body
{
    background-color: coral;
}

form
{
    background-color: white;
}

table
{
    border: solid black 1px;
    background-color: white;
    font-size: 1em;
}

th
{
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 0.4em;

}

td
{
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 0.4em;
}








